.login-panel {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-box-shadow: 0 2px 64px 0 rgba(208, 208, 208, .5);
    box-shadow: 0 2px 64px 0 rgba(208, 208, 208, .5);
    border-radius: 4px;
    padding: 40px 40px
}