<div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">User Login</h1>
    <div class="login-panel">
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="processLogin(loginForm.value)">
                <div class="form-group">
                    <label for="">Email address</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Email">
                </div>
                <div class="animated fadeIn red" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
                    <p>Email is required</p>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" formControlName="pass" id="" placeholder="Password">
                </div>
                <div class="animated fadeIn red" *ngIf="!loginForm.controls['pass'].valid && loginForm.controls['pass'].touched">
                    <p>Password is required</p>
                </div>



                <button type="submit" class="btn btn-default" [disabled]="!loginForm.valid">Submit</button>
            </form>
        </div>
    </div>

</div>